* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffa6d5;
}

body {
  font-family: "Zen Kurenaido", sans-serif;
  line-height: 1.36;
  background-color: #fff7e0;
}

#navbar {
  box-sizing: border-box;
  display: flex;
  font-size: 18px;
  min-height: 100px;
  background: #150050;
  color: white;
  padding: 8px;
  justify-content: space-between;
}

#navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

#navbar ul a {
  color: white;
  padding: 8px;
  margin: 4px;
}

#navbar ul a:hover {
  background-color: #ffa6d5;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
}

.container .bio-img {
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container .bio-img img {
  width: 65%;
  padding: 0 auto;
}

.container .bio-content {
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.06rem, 1.4vw, 1.6rem);
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
  .container div {
    flex: 1;
  }
}

#footer {
  box-sizing: border-box;

  background-color: #9d84b7;
  color: white;
  font-size: clamp(1.2rem, 1.8vw, 1.8rem);
  text-align: center;
  padding: 0.4em;
}

#footer p {
  padding: 0.9em 0;
}
