html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff7e0;

  font-family: "Zen Kurenaido", sans-serif;
  line-height: 1.36;
}

a {
  text-decoration: none;
  color: #ffa6d5;
}

h2 {
  padding: 1em;
  font-size: clamp(1.8rem, 2.5vw, 3.2rem);
}

.date {
  display: inline;
  font-style: italic;
}

.tag {
  display: inline;
  font-style: italic;
  background: #588fe5;
  display: inline-block;
  color: #fff;
  position: relative;
  padding: 0.5em;
  border-radius: 12px;
  text-decoration: none;
}

.tag:hover {
  background-color: #739fe4;
}

.img-post {
  font-size: clamp(1.1rem, 1.2vw, 1.6rem);
}

.img-post img {
  width: 25%;
  height: auto;
}

.post-content {
  padding: 1.5em 4vh;
  font-size: clamp(1.15rem, 1.25vw, 1.65rem);
}

@media (max-width: 900px) {
  .img-post img {
    width: 50%;
    height: auto;
  }
}

#navbar {
  box-sizing: border-box;
  display: flex;
  font-size: 18px;
  min-height: 100px;
  background: #150050;
  color: white;
  padding: 8px;
  justify-content: space-between;
}

#navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

#navbar ul a {
  color: white;
  padding: 8px;
  margin: 4px;
}

#navbar ul a:hover {
  background-color: #ffa6d5;
  color: black;
}

#list-post {
  text-align: center;
}

#list-post ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

#list-post li {
  margin: 0 0.25em;
}

#list-post .personal {
  padding: 0.35em;
  color: #fff7e0;
  border-radius: 15px;
  background-color: #588fe5;
}
.post {
  text-align: center;
}
